body {
    background-color: rgb(0, 58, 0);
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}

audio {
    display: none;
}

header {
    background-color: rgb(0, 28, 0);
    height: fit-content;
}

header h1 {
    margin: 0;
    text-align: center;
    color: cornflowerblue;
}

.buttons {
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 20px;
    gap: 20px;
}

button {
    flex: 1;
    height: 50px;
    border-radius: 100px;
    background-color: yellow;
    color: hotpink;
}

.buttons a {
    flex: 1;
    height: 50px;
    border-radius: 100px;
    background-color: yellow;
    color: hotpink;
    text-align: center;
    align-content: center;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid grey
}

.buttons a:hover {
    padding: 20px;
    font-size: 40px;
    background-color: white;
}

.coming-soon-section {
    color: red;
}

.cheney-container {
    width: 100%;
    height: 600px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.cheney-container img {
    opacity: 0;
    transition: opacity 8s ease-in;
}

.coming-soon-section h2 {
    text-align: center;
    font-size: 8rem;
    margin: 50px 0 0;
}

.coming-soon-section p {
    text-align: center;
    font-size: 2rem;
}

.coming-soon-section a p {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

footer {
    background-color: darkred;
    height: 200px;
}