body {
    background-color: rgb(0, 58, 0);
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}

audio {
    display: none;
}

header {
    background-color: rgb(0, 28, 0);
    height: fit-content;
}

header h1 {
    margin: 0;
    text-align: center;
    color: cornflowerblue;
}

.buttons {
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 20px;
    gap: 20px;
}

.buttons a {
    flex: 1;
    height: 50px;
    border-radius: 100px;
    background-color: yellow;
    color: hotpink;
    text-align: center;
    align-content: center;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid grey
}

.buttons a:hover {
    padding: 20px;
    font-size: 40px;
    background-color: white;
}

.hero {
    width: 100%;
    height: fit-content;
}

.hero h2 {
    font-size: 150px;
    flex: 1;
    color: white;
}

.hero-top {
    display: flex;
}

.hero-top img {
    flex: 1;
    overflow: hidden;
}

.hero-top::before {
    content: '';
    position: absolute;
    background: url('../men/bean.gif') no-repeat;
    background-size: contain;
    pointer-events: none;
    width: 603px;
    height: 445px;
    top: 569px;
    right: 370px;
    opacity: 0.5;
}

.explanation-section h2 {
    font-size: 75px;
    text-align: center;
}


.explanation-section iframe {
    display: block;
    margin: auto;
    padding-bottom: 5rem;
}

.explanation-section p {
    font-size: 30px;
    text-align: center;
}

.tu1 {
    text-align: right !important;
}

.tu2 {
    text-align: right !important;
    font-size: 100px !important;
}

.memorandum {
    line-height: 0.5;
    font-size: 25px !important;
    margin-top: -3rem;
}

.where-to-watch h2 {
    text-align: center;
    font-size: 100px;
}

.channel-container {
    width: 500px;
    height: fit-content;
    border: 1px solid salmon;
    margin: auto;
    background-color: white;
    padding: 15px;
}

.imgcontain {
    display: flex;
}

.imgcontain img {
    width: 200px;
    height: 400px;
    flex: 1;
    border-radius: 999px;
}

.channel-container a {
    text-align: center;
    font-size: 20px;
}

.socials-container {
    width: fit-content;
    display: flex;
    margin: auto;
    margin-bottom: 100px;
    gap: 50px;
}

.socials-container a {
    width: fit-content;
}

.socials-container img {
    height: 100px;
    width: 100px;
}

footer {
    background-color: darkred;
    height: 200px;
}